<aside class="left-sidebar">
  <nav class="site-nav">
    <ul class="nav-list">
      <li><a href="/">home</a></li>
      <li><a href="/about/">about</a></li>
      <details>
        <summary>media</summary>
        <ul class="nav-list">
          <li><a href="/media/books/">books</a></li>
          <li><a href="/media/films/">films</a></li>
          <li><a href="/media/music/">music</a></li>
          <li><a href="/media/games/">games</a></li>
          <li><a href="/media/shows/">shows</a></li>
      </details>
    </ul>
  </nav>
</aside>
