---
layout: media.njk
title: books
permalink: /media/books/
---

<div class="container-books">
  <p>all the info on books i read or love</p>

  <div class="currently-reading-container">
    <p class="currently-reading-label">i am currently reading:</p>
    <img
      class="currently-reading-cover"
      src="{{ currentlyReading.cover }}"
      alt="Cover of {{ currentlyReading.title }}"
    />
    <h3 class="currently-reading-title">{{ currentlyReading.title }}</h3>
    <p class="currently-reading-author">{{ currentlyReading.author }}</p>
  </div>

  <br />

  <div class="bookshelf-container">
    <div class="bookshelf-sort-controls">
      <button id="sort-rating" data-dir="desc">rating ↓</button>
      <button id="sort-date" data-dir="desc">date read ↓</button>
    </div>

    <ul class="bookshelf-list" id="bookshelf-list">
      {% for book in goodreads_data.books %}
      <li
        key="{{ book.title }}"
        class="bookshelf-book"
        {#
        edit
        booksFormatting
        to
        set
        defaults
        #}
        data-rating="{{ book.myRating| default(0)  }}"
        data-date="{{ book.readDates[1] | default('')}}"
      >
        <img
          class="bookshelf-book-cover"
          src="{{ book.cover }}"
          alt="Cover of {{ book.title }}"
        />

        <div class="bookshelf-book-info">
          <p class="bookshelf-book-title">
            <strong>{{ book.title }}</strong>
          </p>
          <p class="bookshelf-book-author">
            by {{ book.author }}{% if book.additionalAuthors %} ({{
              book.additionalAuthors
            }}){% endif %}
          </p>
          <p class="bookshelf-book-rating">Rating: {{ book.myRating }} / 5</p>
          <p class="bookshelf-book-read-date">
            {{ book.readDates[0] }}-{{ book.readDates[1] }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
