.bookshelf-container {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
  height: 40vh;
  overflow-y: auto;
}

.bookshelf-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.bookshelf-book {
  border: #000000 2px solid;
  box-sizing: border-box;
  display: grid;
  grid-template:
    "cover title-rating"
    "cover author-publishing-readdate" /
    auto 1fr;
  margin: 10px 0;
  width: 100%;
}

.bookshelf-book-title-rating {
  grid-area: title-rating;
  display: grid;
  grid-template:
    "title rating"/
    4fr 1fr;
}

.bookshelf-book-author-readdate {
  grid-area: author-publishing-readdate;
  display: flex;
  justify-content: space-between;
}

.bookshelf-book-cover {
  grid-area: cover;
  height: 100px;
  width:62px;
}

.bookshelf-book-title {
  box-sizing: border-box;
  /* border: #000000 2px solid; */
  grid-area: title;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2px 0 2px 10px;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bookshelf-book-author {
  box-sizing: border-box;
  /* border: #000000 2px solid; */
  grid-area: author-publishing;
  margin: auto 0 2px 10px;
  max-height: 20px;
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bookshelf-book-rating {
  box-sizing: border-box;
  grid-area: rating;
  /* border: #000000 2px solid; */
  margin: 2px 10px 2px 0;
}

.bookshelf-book-read-date {
  box-sizing: border-box;
  /* border: #000000 2px solid; */
  grid-area: read-date;
  font-size: 1rem;
  margin: auto 10px 2px 0;
}
