.bookshelf-container {
  box-sizing: border-box;
  display: block;
  border: 1px solid #ccc;
  height: 40vh;
  overflow-y: auto;
}

.bookshelf-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}

.bookshelf-book{
  box-sizing: border-box;
  padding: 5px 10px;
}